{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'css/signup.css' %}">
</head>
<body style="background-image: url('https://www.itl.cat/pngfile/big/206-2069606_full-hd-wallpapers-backgrounds-lines-by-david-getty.jpg');">
    
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREFay3r9_CtlZR3iqbkwDucsQ1rhMo35liyg&usqp=CAU');">
           <table>
        <a href="{%  url 'customer:signup' %}">SIGN UP</a>
        <form action=""onsubmit="return sign()" method="post">
            {%  csrf_token %}
        
        <tr>
          <td> <label for="">Name</label></td> 
          <td><input type="text" class="" id="name" name="name"><br></td> 
        </tr>
    
        <tr>
            <td><label for="">Email</label></td> 
            <td><input type="email" class="" id="email" name="email"><br></td> 
        </tr>
    
        <tr>
            <td> <label for="">Password</label></td> 
            <td> <input type="password" class="" id="password" name="password" ><br></td> 
        </tr>
    
        <tr>
            <td><label for="">Confirm password</label></td> 
            <td> <input type="password" class="" id="pswd" ><br></td> 
        </tr>
    
            <p id="message" style="color: brown;"></p>
        <tr>
           <td> <button type="submit">submit</button></td> 
        </tr>
        </table>
        </form>
    </div>

        <div class="col-4"></div>
    </div>
      
      </div>
        <script src="{% static 'script/signup.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>