{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%  static 'css/view.css' %}">
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/bokeh-bubbles-sun-flash-blue-background_1182-1744.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706659200&semt=ais');">
    <h1>Products</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td>Category</td>
            <td>Update</td>
            <td>Delete</td>
          
        </tr>
        {% for i in products %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td><img src="{{i.image.url}}" alt="" width="50px"></td>
            <td>{{i.category}}</td>
            <td><a href="{% url 'seller:updatepdt' i.id %}">Update</a></td>
            <td><a href="{% url 'seller:deletepdt' i.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>