.row{
    margin-top: 250px;
    border-radius: 75px;
    
    
}
table td{
    padding: 10px;
}
/* h3{
    /* border: 1px solid black; */
    /* text-align: center;
    margin-top: 10px; */ */
/* } */
button{
    border: 1px solid black;
    text-align: center;
}
a{
    font-size: 30px;
    text-align: center;
    padding-left: 125px;
    color: black;
}